//- MIXIN :: START

mixin iconSVG(svgName, mod)
  - var mod = mod || ''
  svg(class="icon icon-" + svgName + ' ' + mod)
    use(xlink:href="./img/sprite.svg#" + svgName)


mixin navlink(className, arr)
  div(class= className)
    ul
      each val, idx in arr
        li.viewport-hide-js(
        data-animation-delay!= (0.0 + parseFloat(0.1 * idx)).toFixed(2) + "s"
        )
          a(
          href= arr[idx].href
          title=""
          class=""
          )!= arr[idx].name

//- MIXIN :: END