// COMMON :: START

/* ICONS */
.icon {
  &:before {
    content: "";
    display: block;
  }
}
/* ICONS
==================== */

/* COPYRIGHT */
.copyright {
  color: $c-catalinaBlue;
  font-size: 12px;
}

/* COPYRIGHT
==================== */

// COMMON :: END