// FOOTER :: START

footer#footer.footer
  .footer__wrapper.footer__wrapper-0
    .c-grid

  .footer__wrapper.footer__wrapper-1
    .c-grid

      .footer__row

        a.footer__logo(href="/" title="")
          +iconSVG("logo")

        .copyright
          p © 2017  Copyrights Block1 Agency 2018


// FOOTER :: END