// HEADER :: START

header#header.header.animated
  .c-grid
    .header__wrapper
      .header__wrapper-left
        include ../macros/_logotype

      .header__wrapper-right
        include ../macros/_nav

      .header__wrapper-mobile
        include ../macros/_hamburger

// HEADER :: END