// MAIN SERVICE :: START

section#main.main
  .c-grid
    .main__wrapper
      .main__wrapper-left
        p.main__subtitle!= "Video"

      .main__wrapper-right
        h1.main__title.title!= "Give your blockchain <strong>company an identity.</strong>"
        p.main__text!= "Get all the benefits of an in-wall or in-ceiling speaker system without any of the hassle. Just replace a few lights around your house, and start streaming crisp, clear audio, everywhere."

// MAIN SERVICE :: END