---
title: Home
favicon: favicon

contentClassName: home
dataPageName: index

additionalStyleFile: false
---
extends shared/_layout

block content
  div.bg
  div(class!= contentClassName)

    include ./components/_join
    include ./components/_statistic
    include ./components/_newsletter
