// NAV :: START

.nav {
  ul {
    display: flex;
    align-items: center;
    @include respond(max-small) {
      flex-direction: column;
      justify-content: center;
    }
  }

  li {
    @include respond(max-small) {
      animation: unset !important;
    }
    &:first-child {
      a {
        margin-left: 0;
      }
    }
    &:last-child {
      margin-left: 80px;
      @include respond(max-large) {
        margin-left: 0;
      }

      a {
        margin-right: 0;
      }
    }
  }

  a {
    white-space: nowrap;
    display: flex;
    font-size: 16px;
    margin-left: 21px;
    margin-right: 21px;
    color: #7887A7;
    @include transition(color);
    @include respond(max-small) {
      min-height: 45px;
      margin: 0;
    }

    &:hover {
      color: $c-white;
      @include transition(color);
    }
  }
}

// NAV :: END