// HAMBURGER :: START

.hamburger.hamburger--spring.viewport-hide-js(
role="button" hamburger-js
data-vp-offset="-10"
data-animation-name="slideInDown"
)
  .hamburger-box
    .hamburger-inner

// HAMBURGER :: END