.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-behance {
  font-size: (31/10)*1rem;
  width: (34/31)*1em;
}
.icon-behance-color_Color {
  font-size: (26/10)*1rem;
  width: (26/26)*1em;
}
.icon-close {
  font-size: (13/10)*1rem;
  width: (12/13)*1em;
}
.icon-dribbble {
  font-size: (31/10)*1rem;
  width: (33/31)*1em;
}
.icon-facebook {
  font-size: (31/10)*1rem;
  width: (33/31)*1em;
}
.icon-helmet {
  font-size: (32/10)*1rem;
  width: (39/32)*1em;
}
.icon-icecream {
  font-size: (48/10)*1rem;
  width: (48/48)*1em;
}
.icon-instagram {
  font-size: (31/10)*1rem;
  width: (33/31)*1em;
}
.icon-logo {
  font-size: (24/10)*1rem;
  width: (24/24)*1em;
}
.icon-medium {
  font-size: (31/10)*1rem;
  width: (33/31)*1em;
}
.icon-play {
  font-size: (102/10)*1rem;
  width: (92/102)*1em;
}
.icon-polygon {
  font-size: (24/10)*1rem;
  width: (20/24)*1em;
}
.icon-settings {
  font-size: (18/10)*1rem;
  width: (18/18)*1em;
}
